{% extends "layout.html" %}

{% block page_title %}
    Digital Marketplace
{% endblock %}


{% block content %}
    
<div id="wrapper">

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="">Digital Marketplace</a></li>
      <li><a href="">Your account</a></li>
    </ol>
  </div>

    <div class="grid-row">
      <div class="column-two-thirds">

        <header class="page-heading-smaller page-heading-without-context page-heading-without-breadcrumb">

          <h1>
            
              
            
              
                Your Digital Outcomes and Specialists 2 opportunities
              
            
          </h1>
        </header>

      </div>
    </div>
    <div class="grid-row">
      <div class="column-one-whole">
      <a href="/structure/opportunities/dos-opportunities">Search for opportunities</a>

<!--         <h2 class="summary-item-heading">
          Draft applications
        </h2>

        <table class="summary-item-body">
          <caption class="visuallyhidden">
            Summary table
          </caption>
          
            <thead class="summary-item-field-headings-visible">
              <tr>
                <th scope="col" class="summary-item-field-heading-first">
                  Opportunity
                </th>
                <th scope="col" class="summary-item-field-heading">
                  Application deadline
                </th>
                <th scope="col" class="summary-item-field-heading">
                </th>
              </tr>
            </thead>
            <tbody> 
                  
                    
                      <tr class="summary-item-row">
                        <td class="summary-item-field-first-half">
                          <a href="/application/application">Digital Delivery of HMRC services in DDC Newcastle - Technical requirement</a>
                        </td>
                        <td class="summary-item-field">
                          Tuesday 4 November 2017
                        </td>
                        <td class="summary-item-field-with-action">                      
                        </td>
                      </tr>
              
            </tbody>
          
        </table>

 -->
        <h2 class="summary-item-heading">
          Applications you’ve made
        </h2>        

        <table class="summary-item-body">
          <caption class="visuallyhidden">
            Summary table
          </caption>
            
            <thead class="summary-item-field-headings-visible">
              <tr>
                <th scope="col" class="summary-item-field-heading-first">
                  Application
                </th>
                <th scope="col" class="summary-item-field-heading">
                  Application deadline
                </th>
                <th scope="col" class="summary-item-field-heading">
                  Status
                </th>
              </tr>
            </thead>
            <tbody> 
              
                
              
                
                  
                    
                  
                    
                  
                    
                  
                    
                  
                    
                      <tr class="summary-item-row">
                        <td class="summary-item-field-first-half">
                          <a href="/application/application?complete=true">Digital Delivery of HMRC services in DDC Newcastle - Technical requirement</a>
                        </td>
                        <td class="summary-item-field">
                          Tuesday 4 November 2017
                        </td>
                        <td class="summary-item-field">                      
                          Submitted
                        </td>
                      </tr>
                      <tr class="summary-item-row">
                        <td class="summary-item-field-first-half">
                          <a href="/structure/opportunity/dos-opportunities?opportunity=0">Digital Delivery of HMRC services in DDC Newcastle - Technical requirement</a>
                        </td>
                        <td class="summary-item-field">
                          Tuesday 4 November 2016
                        </td>
                        <td>Submitted</td>
                      </tr>
                    
                  
                
              

            </tbody>
          
        </table>



      </div>
    </div>

  </main>

</div>

{% endblock %}