{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
      



  
  
    
  <div class="breadcrumbs">
    <ol>
      <li><a href="">Digital Marketplace</a></li>
      <li><a href="">Hide and Seek Ninjas</a></li>
    </ol>
  </div>
      
  


<div class="grid-row">
<div class="column-two-thirds dmspeak">

      
        <header class="page-heading-smaller page-heading-without-breadcrumb"><h1>
    Before you start
  </h1>
</header>
      
      
      <div class="explanation-list">
        <p class="lead">To apply for this opportunity, you’ll need to give:</p>
        <ul class="list-bullet">
          <li>the date the team will be available to start work</li>
          <li>evidence for all the skills and experience the team have</li>
        </ul>
      </div>

      <h2 class="heading-xmedium">How to give evidence</h2>
      <p>The buyer will assess and score your evidence to shortlist the best suppliers.</p>
      <p>You’ll need to meet or exceed their essential requirements to get through to the next stage.</p>

      <h3 class="heading-small">Evidence structure</h3>
      <div class="explanation-list padding-bottom-small">
        <p class="lead">When you write your evidence, you should be specific about:</p>
        <ul class="list-bullet">
          <li>what the situation was</li>
          <li>the work the team did</li>
          <li>what the results were</li>
        </ul>
      </div>
      <p>There’s a 100-word maximum for each essential or nice-to-have requirement.</p>
      <p>You should only provide one example for each essential or nice-to-have requirement (unless the buyer specifies otherwise).</p>
      <p>You can reuse examples across different essential or nice-to-have requirements if you need to.</p>

      <br><br>
      <a href="/application/start" class="button-save">Start application</a>
            
    </div>


    </main>

{% endblock %}