{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
      



  
  
    
    <div class="breadcrumbs">
    <ol>
      <li><a href="">Digital Marketplace</a></li>
    </ol>
  </div>
      
  


<div class="grid-row">
  <div class="column-two-thirds">
    
        <header class="page-heading-smaller page-heading-without-breadcrumb"><h1>
    Support
  </h1>
</header>
    

    <div class="dmspeak">
        
          <h2 class="heading-medium">For questions about your account</h2>
          <a href="">enquiries@digitalmarketplace.service.gov.uk</a>
          <h2 class="heading-medium">For questions about selling or buying</h2>
          <a href="">cloud_digital@crowncommercial.gov.uk</a>
          
        
      
    </div>
  </div>
</div>

    </main>

{% endblock %}