{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="">Digital Marketplace</a></li>
      <li><a href="">Supplier opportunities</a></li>
      <li><a href="">Hide and Seek Ninjas</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/application/application" method="post" class="form">

        <h1 class="heading-large">
          Email address the buyer should use to contact you
        </h1>
        <span class="question-advice">
          <p>All communication about your application will be sent to this address.</p>
        </span>


        <div class="form-group">
          <fieldset>
             <div class="question" id="contact_email">
              <label for="contact_email">

              </label>
                <input
                  type="text"
                  name="contact_email"
                  id="contact_email"
                  class="text-box"
                  value="{{data['contact_email']}}"
                />    
            </div>

            <input type="submit" class="button-save" value="Save and continue">
            <a href="">Previous page</a>
          </fieldset>
        </div>
      </form>


    </div>
  </div>
</main>

{% endblock %}