{% extends "layout.html" %}

{% block page_title %}
    Digital Marketplace
{% endblock %}


{% block content %}
    
<div id="wrapper">
    <main id="content" role="main">
      
  

      



<div class="grid-row">
  <div class="column-two-thirds">
    <header class="page-heading-smaller">
      <p class="context">HM Revenue and Customs</p>
      <h1>Digital Delivery of HMRC services in DDC Newcastle - Technical requirement</h1>
      <span data-lot="digital-outcomes"></span>
    </header>
  </div>
</div>

<div class="grid-row">
  <div class="column-one-whole">
    

<div class="statistic-container" id="incomplete-applications">
    <h3 class="visually-hidden">Incomplete applications</h3>
    <div class="big-statistic">3</div>
    <div class="statistic-name">Incomplete applications</div>
    
      <div class="statistic-description">1 SME, 2 large</div>
    
  </div>
<div class="statistic-container" id="completed-applications">
    <h3 class="visually-hidden">Completed applications</h3>
    <div class="big-statistic">0</div>
    <div class="statistic-name">Completed applications</div>
    
  </div>
  </div>
</div>

<div class="grid-row">
  <div class="column-one-whole">
    

    
    <table class="summary-item-body">
    <caption class="visually-hidden">
      Important dates
    </caption>
    <thead class="summary-item-field-headings">
      <tr>
        
          <th scope="col" class="summary-item-field-heading-first">
            
              <span class="visually-hidden">Opportunity attribute name</span>
            
          </th>
        
          <th scope="col" class="summary-item-field-heading">
            
              <span class="visually-hidden">Opportunity attribute value</span>
            
          </th>
        
      </tr>
    </thead>
    <tbody>
      
      
        
  <tr class="summary-item-row">
    
    
  <td class="summary-item-field-first">
    
      <span>Published</span>
    
  </td>
    
  <td class="summary-item-field">
    
      <span>Monday 16 October 2017</span>
    
  </td>
  
  </tr>

      
        
  <tr class="summary-item-row">
    
    
  <td class="summary-item-field-first">
    
      <span>Deadline for asking questions</span>
    
  </td>
    
  <td class="summary-item-field">
    
      <span>Monday 23 October 2017 at 11:59pm GMT</span>
    
  </td>
  
  </tr>

      
        
  <tr class="summary-item-row">
    
    
  <td class="summary-item-field-first">
    
      <span>Closing date for applications</span>
    
  </td>
    
  <td class="summary-item-field">
    
      <span>Monday 30 October 2017 at 11:59pm GMT</span>
    
  </td>
  
  </tr>

      
    </tbody>
  </table>
  

    <h2 class="summary-item-heading" id="opportunity-attributes-1">
      
      Overview
  </h2>
     
    
    
    <table class="summary-item-body">
    <caption class="visually-hidden">
      Overview
    </caption>
    <thead class="summary-item-field-headings">
      <tr>
        
          <th scope="col" class="summary-item-field-heading-first">
            
              <span class="visually-hidden">Opportunity attribute name</span>
            
          </th>
        
          <th scope="col" class="summary-item-field-heading">
            
              <span class="visually-hidden">Opportunity attribute value</span>
            
          </th>
        
      </tr>
    </thead>
    <tbody>
      
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>Summary of the work</span>
    
  </td>
        
            
  <td class="summary-item-field">
    
      <span>The partner must demonstrate capacity and flexibility to manage delivery of open source digital code (using SCALA) and digital products in line with HMRCs/GDS Digital standards/design patterns. Delivered through SoW and supplier provided multi-disciplinary teams with capability/skills in business analysis, front end, software development, testing and facilitating scrum teams.</span>
    
  </td>
        
      
  </tr>
    
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>Latest start date</span>
    
  </td>
        
            
  <td class="summary-item-field">
    
      <span>Wednesday 31 January 2018</span>
    
  </td>
        
      
  </tr>
    
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>Expected contract length</span>
    
  </td>
        
            
  <td class="summary-item-field">
    
      <span>2 years</span>
    
  </td>
        
      
  </tr>
    
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>Location</span>
    
  </td>
        
            
    
  <td class="summary-item-field">
    
      <span>North East England</span>
    
  </td>
  
        
      
  </tr>
    
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>Organisation the work is for</span>
    
  </td>
        
            
  <td class="summary-item-field">
    
      <span>HM Revenue and Customs</span>
    
  </td>
        
      
  </tr>
    
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>Budget range</span>
    
  </td>
        
            
  <td class="summary-item-field">
    
      <span>The contract will be to complete the work currently being undertaken by 28 technical consultants and undertake related Transformation work identified via the agile sprint projects as the delivery pipeline in HMRC digital materialises. There will be Statements of Work broken down in to 6 weekly periods. The life of the contract is expected to be 2 years and the overall budget in this requirement is estimated to be E£8.736m. This may be adjusted due to business need and the requirement to support policy driven change. This estimate does not include travel and subsistence payments.</span>
    
  </td>
        
      
  </tr>
    
      
    </tbody>
  </table>
  

    <h2 class="summary-item-heading" id="opportunity-attributes-2">
      
      About the work
  </h2>
     
    
    
    <table class="summary-item-body">
    <caption class="visually-hidden">
      About the work
    </caption>
    <thead class="summary-item-field-headings">
      <tr>
        
          <th scope="col" class="summary-item-field-heading-first">
            
              <span class="visually-hidden">Opportunity attribute name</span>
            
          </th>
        
          <th scope="col" class="summary-item-field-heading">
            
              <span class="visually-hidden">Opportunity attribute value</span>
            
          </th>
        
      </tr>
    </thead>
    <tbody>
      
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>Why the work is being done</span>
    
  </td>
        
            
  <td class="summary-item-field">
    
      <span>HMRC are strengthening their digital offering, linking many new and existing systems to allow more consistent and responsive  provision of services over the web.<br>Each service development has its own user driven requirements which will enhance user experience and compliance whilst striving towards the HMRC digital goals.<br>We require a supplier who can add value to this development through provision of suitably skilled technical roles to work in Scrum Teams alongside existing HMRC teams and others.<br>This is for the Newcastle Digital Centre.</span>
    
  </td>
        
      
  </tr>
    
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>Problem to be solved</span>
    
  </td>
        
            
  <td class="summary-item-field">
    
      <span>HMRC require a partner to deliver the technical aspects of new and existing front facing digital services developed in Scala using a micro-service architecture, meeting Government Digital Service standards. This will include (but is not limited to) technical agile specialists incorporating work in scrum teams and delivering in phased sprints.&nbsp;This will be done through outcome based statements of work for a variety of programmes.</span>
    
  </td>
        
      
  </tr>
    
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>Who the users are and what they need to do</span>
    
  </td>
        
            
  <td class="summary-item-field">
    
      <span>HMRC's Digital Strategy is to accommodate the majority of interaction with customers through digital self-service. This will reduce the nation's tax gap through making the UK's tax system more transparent and also reduce the overheads involved in supporting such a system.</span>
    
  </td>
        
      
  </tr>
    
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>Early market engagement</span>
    
  </td>
        
            
  <td class="summary-item-field">
    
      <span>We ran an event open to all interested Suppliers on 13 September 2017. This event gave suppliers an insight in to what we do in HMRC Digital and how we work to bring user-centred services to life.  We asked for supplier views on how best to offer the requirements to maximise the number and quality of bids.  The feedback on this was varied, with most suppliers putting forward ideas on national vs local requirements.<br> Attendees included both suppliers already providing us with technical and non technical resource and suppliers we have yet to work with.</span>
    
  </td>
        
      
  </tr>
    
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>Any work that’s already been done</span>
    
  </td>
        
            
  <td class="summary-item-field">
    
      <span>We have services under development in various Agile stages.  We also have Services which have successfully transferred into the Live environment that we are looking to iterate and improve.  Iteration is both user driven and in response to legislative change.<br>Existing transitional contracts expire on 31st January 2018. We would ideally new suppliers to begin work to transition into HMRC before that end date wherever that was possible.</span>
    
  </td>
        
      
  </tr>
    
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>Existing team</span>
    
  </td>
        
            
  <td class="summary-item-field">
    
      <span>There are currently a number of teams working on these services. The successful supplier team will work with these existing capabilities (from other suppliers as well as HMRC staff). A part of the role of the supplier will be to assist HMRC in growing its own capability and we will expect a level of support for our staff who come at all levels from apprentice through to senior management.</span>
    
  </td>
        
      
  </tr>
    
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>Current phase</span>
    
  </td>
        
            
    
  <td class="summary-item-field">
    
      <span>Not applicable</span>
    
  </td>
  
        
      
  </tr>
    
      
    </tbody>
  </table>
  

    <h2 class="summary-item-heading" id="opportunity-attributes-3">
      
      Work setup
  </h2>
     
    
    
    <table class="summary-item-body">
    <caption class="visually-hidden">
      Work setup
    </caption>
    <thead class="summary-item-field-headings">
      <tr>
        
          <th scope="col" class="summary-item-field-heading-first">
            
              <span class="visually-hidden">Opportunity attribute name</span>
            
          </th>
        
          <th scope="col" class="summary-item-field-heading">
            
              <span class="visually-hidden">Opportunity attribute value</span>
            
          </th>
        
      </tr>
    </thead>
    <tbody>
      
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>Address where the work will take place</span>
    
  </td>
        
            
  <td class="summary-item-field">
    
      <span>DDCN, Benton Park View Newcastle</span>
    
  </td>
        
      
  </tr>
    
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>Working arrangements</span>
    
  </td>
        
            
  <td class="summary-item-field">
    
      <span>Work collaboratively with existing cross functional Agile Teams transforming Digital services across the Centre.<br>Be on site 5 days (40 hours) per week collaborating with the wider team unless work commitments require work to be done elsewhere<br>A flexible approach will be agreed with the successful supplier as each SoW is agreed throughout the life of the contract. We may be open to other working arrangements as the relationship develops<br>Be responsible for travel and expenses to normal workplace. Expenses will be in line with HMRC policy.<br>Individuals will be expected to adhere to the Civil Service code of conduct.</span>
    
  </td>
        
      
  </tr>
    
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>Security clearance</span>
    
  </td>
        
            
  <td class="summary-item-field">
    
      <span>The supplier must ensure each individual supplied to us has BPSS security clearance and that an IR35 determination is obtained for each specialist prior to engagement.</span>
    
  </td>
        
      
  </tr>
    
      
    </tbody>
  </table>
  

    <h2 class="summary-item-heading" id="opportunity-attributes-4">
      
      Additional information
  </h2>
     
    
    
    <table class="summary-item-body">
    <caption class="visually-hidden">
      Additional information
    </caption>
    <thead class="summary-item-field-headings">
      <tr>
        
          <th scope="col" class="summary-item-field-heading-first">
            
              <span class="visually-hidden">Opportunity attribute name</span>
            
          </th>
        
          <th scope="col" class="summary-item-field-heading">
            
              <span class="visually-hidden">Opportunity attribute value</span>
            
          </th>
        
      </tr>
    </thead>
    <tbody>
      
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>Additional terms and conditions</span>
    
  </td>
        
            
  <td class="summary-item-field">
    
      <span>The supplier will have had experience working to Government Digital Standards.<br><br>The supplier will provide HR management support to each individual resource. Any capability or behaviours concerns will be raised by HMRC to the supplier, who will then need to act on these. HMRC will have the right to move an individual off of the account if standards of capability or behaviour are breached.</span>
    
  </td>
        
      
  </tr>
    
      
    </tbody>
  </table>
  

    <h2 class="summary-item-heading" id="opportunity-attributes-5">
      
      Skills and experience
  </h2>
     
          <p class="summary-item-description">
    Buyers will use the essential and nice-to-have skills and experience to help them evaluate suppliers’ technical competence.
  </p>
        
    
    
    <table class="summary-item-body">
    <caption class="visually-hidden">
      Skills and experience
    </caption>
    <thead class="summary-item-field-headings">
      <tr>
        
          <th scope="col" class="summary-item-field-heading-first">
            
              <span class="visually-hidden">Opportunity attribute name</span>
            
          </th>
        
          <th scope="col" class="summary-item-field-heading">
            
              <span class="visually-hidden">Opportunity attribute value</span>
            
          </th>
        
      </tr>
    </thead>
    <tbody>
      
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>Essential skills and experience</span>
    
  </td>
        
            
    
  <td class="summary-item-field">
    
      <span><ul>
    
      <li>Have demonstrable experience of providing the relevant skills, roles and resources against a variety of technologies required to form a Scrum Team.</li>
    
      <li>Have demonstrable experience of collaborative working with a client's ‘in-house’ teams, including coaching and mentoring, and knowledge sharing.</li>
    
      <li>Have demonstrable experience of successfully developing services using a pragmatic Agile approach.</li>
    
      <li>Have demonstrable experience of scaling up and down teams to accommodate either new requirements or changes within the delivery pipeline.</li>
    
      <li>Have demonstrable experience of providing additional and/or value added activities when acting in the role of a partner supplier to an organisation</li>
    
      <li>Developers will be competent with or experts on using Scala and the Play Framework to develop cloud based micro service architecture with JSON APIs.</li>
    
      <li>Teams will have demonstrable Web Ops experience, showing ability to release at least every sprint and ideally much more frequently.</li>
    
      <li>Previous significant multi-team contract within large organisation in the last two years (more than 4 teams, comprising more than 20 people over more than 6 months) working in agile scrum.</li>
    
      <li>Supplier will have automated testing skills using Selenium.</li>
    
      <li>Supplier will have demonstrable experience of user and test driven development using agile scrum.</li>
    
      <li>Supplier will be able to supply contractors competent with using Splunk, Mongo, Grafana, Jenkins, AWS and GitHub.</li>
    
      <li>Experience of delivering to Government Digital Standards.</li>
    
  </ul>
  </span>
    
  </td>
  
        
      
  </tr>
    
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>Nice-to-have skills and experience</span>
    
  </td>
        
            
    
  <td class="summary-item-field">
    
      <span><ul>
    
      <li>Supplier would ideally have had a significant multi team contract with a public sector body</li>
    
      <li>Experience of working on a multi-active cloud platform using open source software that includes Mongo DB, Github, Jenkins, Selenium, coded in SCALA</li>
    
  </ul>
  </span>
    
  </td>
  
        
      
  </tr>
    
      
    </tbody>
  </table>
  

    <h2 class="summary-item-heading" id="opportunity-attributes-6">
      
      How suppliers will be evaluated
  </h2>
     
    
    
    <table class="summary-item-body">
    <caption class="visually-hidden">
      How suppliers will be evaluated
    </caption>
    <thead class="summary-item-field-headings">
      <tr>
        
          <th scope="col" class="summary-item-field-heading-first">
            
              <span class="visually-hidden">Opportunity attribute name</span>
            
          </th>
        
          <th scope="col" class="summary-item-field-heading">
            
              <span class="visually-hidden">Opportunity attribute value</span>
            
          </th>
        
      </tr>
    </thead>
    <tbody>
      
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>How many suppliers to evaluate</span>
    
  </td>
        
            
  <td class="summary-item-field">
    
      <span>6</span>
    
  </td>
  
        
      
  </tr>
    
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>Proposal criteria</span>
    
  </td>
        
            
    
  <td class="summary-item-field">
    
      <span><ul>
    
      <li>Technical capability as demonstrated in their written examples, and required at interview</li>
    
      <li>Approach and methodology</li>
    
      <li>Ability to provide local resource and scale up or down as required, with examples</li>
    
      <li>HR support and capability</li>
    
  </ul>
  </span>
    
  </td>
  
        
      
  </tr>
    
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>Cultural fit criteria</span>
    
  </td>
        
            
    
  <td class="summary-item-field">
    
      <span><ul>
    
      <li>Able to start on the work immediately.</li>
    
      <li>Have excellent communication skills with staff at all levels of the organisation</li>
    
      <li>Adhere to HMRC's Code of Conduct</li>
    
      <li>Will take responsibility for their work</li>
    
      <li>Be willing to collaborate and partner, including with other suppliers and HMRC staff at all levels.</li>
    
      <li>Proactively share knowledge and experiences with members of team, especially with junior HMRC staff.</li>
    
      <li>Be innovative and promote ideas and suggestions as applicable</li>
    
      <li>Focus on achieving value for money in all activities</li>
    
  </ul>
  </span>
    
  </td>
  
        
      
  </tr>
    
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>Payment approach</span>
    
  </td>
        
            
    
  <td class="summary-item-field">
    
      <span>Fixed price</span>
    
  </td>
  
        
      
  </tr>
    
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>Assessment methods</span>
    
  </td>
        
            
    
  <td class="summary-item-field">
    
      <span><ul>
    
      <li>Written proposal</li>
    
      <li>Presentation</li>
    
  </ul>
  </span>
    
  </td>
  
        
      
  </tr>
    
      
        
      <tr class="summary-item-row">
    
        
  <td class="summary-item-field-first">
    
      <span>Evaluation weighting</span>
    
  </td>
        
            
  <td class="summary-item-field">
    
      <span>
        
        <div class="multiquestion">
          <p>Technical competence</p>
          <div>65%</div>
        </div>
      
        
        <div class="multiquestion">
          <p>Cultural fit</p>
          <div>5%</div>
        </div>
      
        
        <div class="multiquestion">
          <p>Price</p>
          <div>30%</div>
        </div>
      </span>
    
  </td>
        
      
  </tr>
    
      
    </tbody>
  </table>
  

  </div>
</div>
<div class="grid-row">
  <div class="column-one-whole">
    



<h2 class="summary-item-heading" id="clarification-questions">
      
      Questions asked by suppliers
  </h2>

    <p class="summary-item-no-content">
      No questions have been answered yet
    </p>
  


  <a href="/suppliers/opportunities/5479/ask-a-question">
    
      Log in to ask a question
    
  </a>

  </div>
</div>


  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="summary-item-heading">Apply for this opportunity</h2>
      <p class="dmspeak">To apply, you must give evidence for all the essential and nice-to-have skills and experience you have.</p>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-one-third">
      
        <a class="link-button-with-advice"  href="/application/application" role="button">Apply</a>
      
    </div>
  </div>



    </main>
  </div>

{% endblock %}