{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
      

  <div class="breadcrumbs">
    <ol>
      <li><a href="">Digital Marketplace</a></li>
      <li><a href="">Your account</a></li>
      <li><a href="">Your Digital Outcomes and Specialists 2 opportunities</a></li>
    </ol>
  </div>

  
  
    {% if data['success'] == "true" %}
      <div class="grid-row">
        <div class="column-one-whole">
          <div class="banner-success-without-action">
            <p class="banner-message">
              Your application has been submitted.
            </p>
          </div>
        </div>
      </div>
    {% endif %}
  


<div class="grid-row">
  <div class="column-two-thirds">
    
        <header class="page-heading-smaller page-heading-without-breadcrumb"><h1>
    What happens next
  </h1>
</header>
    

    <div class="dmspeak">
        

          
            <h2 class="heading-medium">Shortlist</h2>

            <p>When the opportunity closes, the buyer will score your evidence. If you’re one of the top 3 suppliers, you'll go through to the evaluation stage.</p>
            <p>The buyer will tell you if you're not successful.</p>

            <h2 class="heading-medium">Evaluation</h2>

            <div class="explanation-list">
              <p class="lead">At the evaluation stage, the buyer will ask you to provide:</p>
              <ul class="list-bullet">
                <li>
                
                  evidence of your skills and experience
                
                </li>
                
                <li>your proposal</li>
                
              </ul>
            </div>
            <div class="explanation-list">
              <p class="lead">The buyer will use the assessment methods listed in their requirements to evaluate your evidence. They’ll use:</p>
              <ul class="list-bullet">
                
                  <li>a written proposal</li>
                
              </ul>
            </div>
            <p>
              Your evidence must describe the skills and experience of the people who’ll be working on the project.
            </p>
            <p>
              The buyer will score all suppliers who reached the evaluation stage using the weightings they published with their requirements. They’ll provide feedback if you’re unsuccessful.
            </p>
          
        
      
    </div>
  </div>
</div>


<p class="padding-bottom-small">&nbsp;</p>

  
    <div class="secondary-action-link">
  <a href="/application/applications">Your Digital Outcomes and Specialists 2 opportunities</a>
</div>
  

  
    </main>

{% endblock %}