{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
      



  
  
    
    
      
        
          <span data-analytics="trackPageView" data-url="/suppliers/opportunities/24987/responses/result?result=success"></span>
          <div class="banner-success-without-action">
  
  <p class="banner-message">
    Your application has been submitted.
  </p>
  
</div>
        
      
    
  


<div class="grid-row">
  <div class="column-two-thirds">
    
        <header class="page-heading-smaller page-heading-without-breadcrumb"><h1>
    Your application for Hide and seek ninjas
  </h1>
</header>
    

    <div class="dmspeak">
        
          <h2 class="heading-medium">What happens next</h2>

          
            <h3>Shortlist</h3>

            <p>When the opportunity closes, the buyer will score your evidence. If you’re one of the top 3 suppliers, you'll go through to the evaluation stage.</p>
            <p>The buyer will tell you if you're not successful.</p>

            <h3>Evaluation</h3>

            <div class="explanation-list">
              <p class="lead">At the evaluation stage, the buyer will ask you to provide:</p>
              <ul class="list-bullet">
                <li>
                
                  evidence of your skills and experience
                
                </li>
                
                <li>your proposal</li>
                
              </ul>
            </div>
            <div class="explanation-list">
              <p class="lead">The buyer will use the assessment methods listed in their requirements to evaluate your evidence. They’ll use:</p>
              <ul class="list-bullet">
                
                  <li>a written proposal</li>
                
              </ul>
            </div>
            <p>
              Your evidence must describe the skills and experience of the people who’ll be working on the project.
            </p>
            <p>
              The buyer will score all suppliers who reached the evaluation stage using the weightings they published with their requirements. They’ll provide feedback if you’re unsuccessful.
            </p>
          
        
      
    </div>
  </div>
</div>


<p class="padding-bottom-small">&nbsp;</p>

  
    <div class="secondary-action-link">
  <a href="/application/applications">Your Digital Outcomes and Specialists 2 opportunities</a>
</div>
  

  
    </main>

{% endblock %}